body{background:#f7f7f7 !important;} 
/*头部样式开始*/
.top_box{width:100%; height:128px; border-bottom:2px solid #a2c1dd; background:#fff; margin-bottom:34px;}
.top_box .top_m_box{width:1200px; height:128px; margin:0 auto;}
.top_box .top_m_box .top_logo{width:196px; height:48px; margin-top:40px; margin-right:20px; float:left;}
.top_box .top_m_box .top_title_l{width:200px; height:58px; line-height:58px; padding-left:20px; color:#393939; border-left:1px solid #b5b5b5; font-size:22px; font-family:"微软雅黑"; float:left; margin-top:35px;}
.top_box .top_m_box .top_title_r{width:100px; height:128px; line-height:128px; color:#4d8cc3; font-size:18px; float:right; font-family:"微软雅黑";}
.top_box .top_m_box .top_title_r a{color:#4d8cc3;}
.top_box .top_m_box .top_title_r a:hover{text-decoration:underline;}
/*头部样式结束*/

/*设备搜索列表开始*/
.cont_box_1200{width:1200px; height:auto; overflow:hidden; background:#fff; margin:0 auto; margin-bottom:34px; padding-bottom:20px;}
.cont_box_1200 .c_title{width:154px; height:57px; background:url(../image/s_title.jpg) no-repeat; line-height:50px; margin-left:42px; margin-right:1004px; color:#fff; font-size:18px; font-family:"微软雅黑"; text-align:center;}
.list_title_box{width:1100px; height:48px; border:1px solid #eae8e8; background:#f7f7f7; font-family:"宋体"; margin-left:50px; margin-top:30px;}
.list_title_box ul{list-style:none;}
.list_title_box ul li{float:left;}
.list_1_{width:auto; height:48px; line-height:48px; padding-left:60px; padding-right:60px; color:#717171; font-size:12px; text-align:center; overflow:hidden;}
.list_2_{width:auto; font-size:14px; height:48px; line-height:48px; color:#dfdfdf; overflow:hidden;}
.p_mm{padding-left:82px !important; padding-right:82px !important;}

.list_11_{width:144px; height:48px; line-height:48px; color:#717171; font-size:12px; text-align:center; overflow:hidden;}
.c_list_{width:1102px; height:auto; overflow:hidden; margin-left:50px;}
.list_content_box{width:1100px; height:48px;  margin-top:15px; border:1px solid #eae8e8; background:#fff; font-family:"宋体";}
.list_content_box ul{list-style:none;}
.list_content_box ul li{float:left;}
.inp_list1{width:201px; height:28px; line-height:28px; text-align:center; border:1px solid #eae8e8; background:#fdfdfd; color:#999; font-size:12px; margin-left:10px; margin-right:10px; margin-top:9px;}
.inp_list2{width:148px; height:28px; line-height:28px; text-align:center; border:1px solid #eae8e8; background:#fdfdfd; color:#999; font-size:12px; margin-left:9px; margin-right:9px; margin-top:9px;}
.inp_list3{width:88px; height:28px; line-height:28px; text-align:center; border:1px solid #eae8e8; background:#fdfdfd; color:#999; font-size:12px; margin-top:9px; float:left;}
.m_l{margin-left:9px;}
.m_rr{margin-right:9px;}
.inp_m{width:auto; height:28px; line-height:28px; float:left; margin-top:9px; margin-left:4px; margin-right:4px;}
.span_{width:40px; height:28px; line-height:28px; margin-top:9px; margin-left:4px; margin-right:4px; float:left; color:#999;}
.span_ input{margin-top:8px;}
.list_dell{width:21px; height:21px; background:url(../image/dell_1.png) no-repeat; margin-top:13px; margin-left:58px; cursor:pointer;}
.list_dell:hover{background:url(../image/dell_2.png) no-repeat;}

.l_more{width:150px; height:40px; border:1px solid #4d8cc3; background:#dce9f3; color:#4d8cc3; font-size:16px; font-family:"微软雅黑"; line-height:40px; text-align:center; float:left; margin-left:50px; margin-top:20px; cursor:pointer;}
.l_note{width:900px; height:40px; line-height:40px; margin-top:20px; float:left; color:#a2a2a2; font-size:18px; font-family:"微软雅黑"; margin-left:50px;}

.auth_list_box{width:1100px; margin-left:50px; height:40px; margin-top:30px;} 
.auth_list_box .auth_l_name{width:80px; height:40px; line-height:40px; color:#333333; font-size:16px; text-align:right; float:left;  font-family:"微软雅黑"; }
.auth_list_box .auth_linp_box{width:490px; height:66px; float:left;}
.auth_list_box .auth_linp_address{width:760px; padding-left:10px; height:66px; float:left;}
.auth_list_box .auth_linp_box .auth_l_inp{width:480px; height:38px; line-height:38px; border:1px solid #eae8e8; text-indent:8px; background:#fdfdfd; float:left;  font-size:12px; margin-left:10px; outline:none}
.input_ser{width:230px; height:40px; line-height:40px; border:1px solid #eae8e8; text-indent:8px; background:#fdfdfd;font-size:12px; margin-right:10px; color:#999999; outline:none; }

.but_box{width:auto; float:left; height:82px;}
.but_box .but_one{width:150px; height:40px; border:1px solid #77a7d1; background:#77a7d1; color:#fff; font-size:16px; font-family:"微软雅黑"; line-height:40px; text-align:center; float:left; margin-left:50px !important; margin-top:10px; margin-bottom:20px; cursor:pointer;}
.but_box .but_two{width:150px; height:40px; border:1px solid #5692c6; background:#5692c6; color:#fff; font-size:16px; font-family:"微软雅黑"; line-height:40px; text-align:center; float:left; margin-left:30px; margin-top:10px; margin-bottom:20px; cursor:pointer;}
/*设备搜索列表结束*/

/*设备搜索展示列表开始*/
.cont_box_1200 .list_title{width:110px; height:58px; line-height:58px; background:url(../image/s_title_l.jpg) no-repeat; color:#fff; font-size:18px; text-align:center; margin-left:42px; margin-right:1004px; font-family:"微软雅黑";}
.cont_box_1200 .l_inf_box{width:1140px; height:auto; overflow:hidden; margin-left:30px; margin-top:30px;}
.cont_box_1200 .l_inf_box .l_inf_l{width:482px; height:110px; float:left;}
.cont_box_1200 .l_inf_box .l_inf_l .l_inf_boxb{width:478px; height:42px; float:left;}
.cont_box_1200 .l_inf_box .l_inf_l .l_inf_boxb .linf_box1{width:315px; height:38px; line-height:38px; float:left; border:1px solid #eae8e8; background:#fdfdfd; text-indent:10px; color:#707070; font-size:14px; font-family:"宋体";}
.cont_box_1200 .l_inf_box .l_inf_l .l_inf_boxb .linf_box2{width:145px; height:38px; margin-left:10px;line-height:38px; float:left; border:1px solid #eae8e8; background:#fdfdfd; text-indent:10px; color:#707070; font-size:14px; font-family:"宋体";}
.cont_box_1200 .l_inf_box .l_inf_l .linf_box3{width:145px; height:38px; margin-top:10px; float:left; line-height:38px;  border:1px solid #eae8e8; background:#fdfdfd; text-indent:10px; color:#707070; font-size:14px; font-family:"宋体";}
.cont_box_1200 .l_inf_box .l_inf_l .linf_b_box{width:322px; height:38px; margin-top:10px; float:left; margin-left:10px;}
.cont_box_1200 .l_inf_box .l_inf_l .linf_b_box .linf_box4{width:151px; *width:146px; height:38px; float:left; line-height:38px;  border:1px solid #eae8e8; background:#fdfdfd; text-indent:10px; color:#707070; font-size:14px; font-family:"宋体";}
.cont_box_1200 .l_inf_box .l_inf_l .linf_b_box span{float:left; height:38px; margin-left:2px; margin-right:2px; line-height:38px; font-family:"宋体";}

.cont_box_1200 .l_inf_box .l_inf_m{width:498px; height:110px; float:left; margin-left:36px;}
.cont_box_1200 .l_inf_box .l_inf_m .l_inf_m1{width:600px; height:40px; margin-bottom:10px;}
.cont_box_1200 .l_inf_box .l_inf_m .l_inf_m1 .l_inf_name{width:84px; height:40px; line-height:40px; float:left; margin-right:10px; color:#333333; font-size:15px; text-align:right; font-family:"微软雅黑";}
.cont_box_1200 .l_inf_box .l_inf_m .l_inf_m1 .l_inf_inp{width:124px; height:38px; line-height:38px; *line-height:38px; border:1px solid #eae8e8; background:#fdfdfd; color:#707070; text-indent:10px; float:left; margin-right:8px; font-size:14px; font-family:"宋体";}
.cont_box_1200 .l_inf_box .l_inf_r{width:88px; height:84px; border:0px; line-height:84px; border-bottom:2px solid #3e709c; float:left; text-align:center; background:#4d8cc3; border-radius:4px; color:#fff; font-size:20px; font-family:"微软雅黑"; margin-left:20px;}
.cont_box_1200 .cont_b_1138{width:1140px; height:auto; overflow:hidden; border:1px solid #eae8e8; border-sizing:border-box; margin-left:30px;}
.cont_box_1200 .cont_b_1138 .list_box{width:379px; height:186px; border-bottom:1px solid #eae8e8; border-right:1px solid #eae8e8; float:left;}
.cont_box_1200 .cont_b_1138 .list_box .l_box_img{width:146px; height:146px; margin:20px 10px 20px 20px; float:left;}
.cont_box_1200 .cont_b_1138 .list_box .l_box_img img{width:146px; height:146px;}
.cont_box_1200 .cont_b_1138 .list_box .l_box_inf{width:194px; height:146px; margin-top:20px; float:left;}
.cont_box_1200 .cont_b_1138 .list_box .l_box_inf .l_title{width:194px; height:40px; line-height:40px; color:#333333; font-size:14px; font-family:"微软雅黑"; text-align:left; overflow:hidden; word-break:break-all;}
.cont_box_1200 .cont_b_1138 .list_box .l_box_inf .l_list{width:194px; height:16px; line-height:16px; color:#b8b8b8; font-size:12px; font-family:"宋体"; overflow:hidden; word-break:break-all;}
.cont_box_1200 .cont_b_1138 .list_box .l_box_inf .l_price{width:194px; height:30px; margin-top:10px; color:#b8b8b8; font-size:12px; font-family:"微软雅黑"; line-height:30px;}
.cont_box_1200 .cont_b_1138 .list_box .l_box_inf .l_price span{color:#e52e2e; font-size:16px;}

.digg {text-align:center; width:80%; height:38px; border-top:1px solid #e2e2e2; display:block; margin:0 auto; padding-top:30px;font-size:14px; padding-bottom:30px; clear:both; font-family:"微软雅黑";}
.digg .inf{height:38px; line-height:38px; color:#5d5d5d; font-size:14px; font-family:"微软雅黑"; width:auto; margin-right:10px; float:left; margin-left:100px;}
.digg a {padding:5px 10px; background:#f7f7f7; border:1px solid #d0d0d0; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; margin-left:6px; color:#5d5d5d; display:inline-block; float:left}
.digg a:hover {background:#4d8cc3; }
.digg a:active {background:#4d8cc3;}
.digg .current {padding:5px 10px; background:#4d8cc3;-moz-border-radius: 3px; border:1px solid #4d8cc3 !important; -webkit-border-radius: 3px;border-radius: 3px; margin-left:6px; color:#FFFFFF;display:inline-block; float:left }
.digg .disabled {padding:5px 10px; background:#e5e5e5; border:1px solid #e5e5e5; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; margin-left:3px; color:#a8a8a8;display:inline-block; float:left }
.digg button{width:64px; height:33px; background:#4d8cc3;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; margin-left:3px; color:#FFFFFF; font-size:14px; border:0px;cursor:pointer!important;cursor:hand;display:inline-block; float:left; font-family:"微软雅黑";}
.digg .jump{ line-height:35px; font-size:14px; color:#444444; padding:0 10px;float:left; display:inline-block;}
.digg .jump input{ width:30px; height:33px; line-height:35px; text-align:center;border:1px solid #e2e2e2; display:inline-block;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; margin-left:5px; margin-right:5px;}

.none_bu{border-bottom:0px !important;}
.none_rig{border-right:0px !important;}
/*设备搜索展示列表结束*/
